<!doctype html>
<html lang="es" manifest="{{ STATIC_URL }}anothernoob.appcache" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>{% block page_title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-social.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css">
    <script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    {% block page_header %}
        <meta property="fb:app_id"          content="443313005794335" />
        <meta property="og:locale"          content="es_CO">
        <meta property="og:type"            content="website" />
        <meta property="og:url"             content="{{ request.get_full_path }}" />
        <meta property="og:title"           content="AnotherNoob" />
        <meta property="og:site_name"       content="AnotherNoob.com">
        <meta name="description"            content="Noticias sobre el mundo de los videojuegos. Únete al lado Gamer, tenemos Poros y galletas.">
        <meta property="og:description"     content="Noticias sobre el mundo de los videojuegos. Únete al lado Gamer, tenemos Poros y galletas.">
        {% block og_image %}
        {% endblock %}
    {% endblock %}
</head>
<body style="background-image: url({% block header_image %}{% endblock %})">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_CO/all.js#xfbml=1&appId=443313005794335";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav>
        <ul>
            <li class="mobile-only mobile-item" id="mobile_menu">AnotherNoob</li>
            <a href="/" class="screen-only"><li class="logo">AnotherNoob</li></a>
            <a href="/" class="mobile-item"><li>Noticias</li></a>
            {% if user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a href="/admin" class="mobile-item"><li>Admin</li></a>
                {% endif %}
                <li id="user-box" class="mobile-item">
                    {{ request.user.first_name|lower }}
                    {{ request.user.last_name|lower }}
                </li>
                <a href="/logout" class="mobile-item">
                    <li>
                        Desconectar
                    </li>
                </a>
            {% else %}
                <li id="login-button" class="mobile-item">
                    Inicia sesión/Regístrate
                    <div id="login-box">
                        <p>Odiamos las cosas difíciles así que usa tus cuentas sociales para regístrarte, es <b>una contraseña menos que recordar</b>.</p>
                        <a class="btn btn-block btn-social btn-facebook" href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.get_full_path }}">
                            <i class="fa fa-facebook"></i>
                            Facebook
                        </a>
                        <a class="btn btn-block btn-social btn-google-plus" href="{% url 'socialauth_begin' 'google' %}?next={{ request.get_full_path }}">
                            <i class="fa fa-google-plus"></i>
                            Google
                        </a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </nav>
    <header class="{% block header_class %}{% endblock %}" style="{% block header_style %}{% endblock %}">
        <div class="header_box">
            {% block header_box %}
            {% endblock %}
        </div>
    </header>
    <section>
        {% block add_top %}
        {% endblock %}
        <div id="content">
            {% block page_content %}
            {% endblock %}
        </div>
    </section>
    <footer>
        &copy; <a href="http://anothernoob.com">AnotherNoob.com</a> 2014
    </footer>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-46693996-1', 'anothernoob.com');
        ga('send', 'pageview');
    </script>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
    <script type="text/javascript">
        window.___gcfg = {lang: 'es'};

        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>
</body>
</html>